.container {
  width: 300px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
}

button {
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.links {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
